!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.cache
.cache/
.com.apple.timemachine.donotpresent
.directory
.DocumentRevisions-V100
.DS_Store
.dynamodb/
.env
.env.test
.eslintcache
.fseventsd
.fuse_hidden*
.fusebox/
.grunt
.history
.lock-wscript
.LSOverride
.next
.nfs*
.node_repl_history
.npm
.npmrc
.nuxt
.nyc_output
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.Spotlight-V100
.TemporaryItems
.tern-port
.Trash-*
.Trashes
.VolumeIcon.icns
.vscode-test
.vscode/*
.vuepress/dist
.yarn-integrity
*.code-workspace
*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
*~
bower_components
build/Release
coverage
dist
dist/
docs/_book
Icon
jspm_packages/
lerna-debug.log*
lib-cov
logs
Network Trash Folder
node_modules/
npm-debug.log*
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
Temporary Items
test/
typings/
yarn-debug.log*
yarn-error.log*
